doctype html
<html>
<head>
<title>Profile</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="stylesheets/style-profile.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://use.edgefonts.net/josefin-sans:n1,n4:default.js" type="text/javascript"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/controller.js"></script>
</head>

<body>
<div class="header">
<h1>Toronto Tutor</h1><br></br>

<hr width="0.00001%"> </hr>
<div class="row">
<div class="center">
<div class="col-sm-7">
<input type="text" class="form-control" placeholder="Search..." name="search-user" id="search-user"></input>
</div>
<div class="col-sm-2">
<button type="button" class="btn btn-warning">
<span class="glyphicon glyphicon-search"></span> Search
</button>
</div>
</div>
</div>
</div> <br></br>

<div id="ProfilePage" ng-app="mainApp" ng-controller="profileController" ng-init="user = {req.user}">
<h1>{{name}}</h1><br><br>
<button style="margin-left: 5px" type="button" class="btn btn-primary" onclick="alert('Hello world!')">
Edit Profile
</button>
<div class="column-left">
<div id="Photo"><img src="http://lacrosseattire.com/wp-content/uploads/2016/01/John_Doe.jpg"> </div>
<div class="rating"> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> </div>
</div><br><br>
<div class="Info">
<p> <strong>About</strong> <br><span>John Doe was a computer programmer by the age of 15. While a sophomore at Ryerson, he co-founded Breaker out of his dorm room. Breaker is now the world's largest Breaking network, making Doe a millionaire.</span></p>
</div>
<div class="Info" align="center">
<p> <strong>Age</strong> <span>30</span> </p>
<p> <strong>Location</strong> <span>Toronto</span> </p>
<p> <strong>Education</strong> <span>Ryerson University</span> </p>
<p> <strong>Degree</strong> <span>Computer Science</span> </p>
</div>

<br><br><br>
<div class="specialty"> <h1>Specialty/Expertise/Offers</h1>
<ul>
<li>Python</li>
<li>Java</li>
<li>Web Development</li>
<li>Other stuff</li>
</ul>
</div>
<div class="reviews"> <h1>Reviews</h1> <br>
<br>
<div class="stuff2">
<div class="Photo2"><img src="https://pixabay.com/static/uploads/photo/2013/03/14/06/08/person-93459_640.jpg"></div>
</div>
<div class="stuff">23rd December 2016<br>
☆☆☆☆☆
<br>
Great guy. Really helped me out with my with my understanfing of Recursion. He also helped me build this website. Shout out to John Snow. </div>


</div>
</div>
<footer>
<div id="contact_us">
<a target="_blank" href=#>Contact Us</a>
</div>
<p>
Toronto Tutor @ 2016. All rights reserved.
</p>
</footer>
</body>
</html>
