doctype html
html
  head
    title=Profile
    link(rel="stylesheet", href="/stylesheets/style-profile.css")
    script(src="https://use.edgefonts.net/josefin-sans:n1,n4:default.js"
      type="text/javascript")
  body
    div.header
      h1 Toronto Tutor
