doctype html
<!-- TEMPORARY. For now, only for new profiles. -->
<html>
<head>
<title>Fuck you and your mother</title>
</head>
<body>
<form action="/update-profile" method="post">
<input type="text" name="firstname" placeholder="First Name" /><br />
<input type="text" name="lastname" placeholder="Last Name" /><br />
<textarea name="description" placeholder="Describe yourself here"></textarea>
<br />
Areas of Expertise:<br />
<input type="text" name="specialty" /><br />
<button type="button">+</button><br />
<input type="submit" value="Done" />
</form>
</body>
</html>
